<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759152613054-gufisn02l8mcovo6vlk5uu7pook3tqjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759152613054-gufisn02l8mcovo6vlk5uu7pook3tqjn</string>
	<key>API_KEY</key>
	<string>AIzaSyDpMDbtBOYNPWcNg90y8vAT0j9J5g6kfwo</string>
	<key>GCM_SENDER_ID</key>
	<string>759152613054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.votingApp</string>
	<key>PROJECT_ID</key>
	<string>voting-app-37e90</string>
	<key>STORAGE_BUCKET</key>
	<string>voting-app-37e90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759152613054:ios:ce56dba5c83802f2d830ef</string>
</dict>
</plist>